.hero {
  display: flex;
  gap: 80px;
  margin-top: 100px;
  position: relative;
}
.hero__title {
  max-width: 100%;
  font-family: "Exo2-SemiBold";
  font-size: 52px;
  color: #363738;
  padding-top: 81px;
}
.hero__text {
  max-width: 100%;
  font-size: 16px;
  color: #6b6b6c;
  padding-top: 40px;
}
.hero__info {
  max-width: 100%;
  font-family: "PTSans-Bold";
  font-size: 16px;
  color: #363738;
  padding-top: 40px;
}
.hero__logo {
  position: absolute;
  bottom: 130px;
  left: 0;
}
